<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>    
</head>
<body>
    @await Component.InvokeAsync("MainMenu")
    @RenderBody()
    <footer>
        Footer rendered by _Layout<br />
        <a href="/">Home</a><br/>
        <a href="/Foo/Home">Feature: Foo</a><br/>
        <a href="/Bar/Home">Feature: Bar</a><br />
        <a href="/Administration/Overview">Area Administration: Overview</a>
    </footer>
</body>
</html>
